.main {
  background-color: #FFF;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addStudentFormBtn {
  display: flex;
  align-items: center;
  gap: 7px;
  float: right;
  background-color: aliceblue;
  color: black;
  padding: 16px;
  border-radius: 46px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
}